# Total riders in a month
A python project using pandas to explore chicago puplic transportation system on weekdays of july in wilson station

# project overveiw
This project focuses on pandas library usage and simple statistics methods to perform descriptive analysis on the chicago transportations system data and mergeing methods between 3 tables of data to display information such as the total rides of a month.

# output
my goal is to find the total number of rides provided to passengers passing through the Wilson station when riding Chicago's public transportation system on weekdays in July. Luckily, Chicago provides this detailed data, but it is in three different tables. output works on merging these tables together to answer the question. 
then I added another criteria to filter any other station , month , day .
finally I create a power pi file using the saved csv file to present a map with stations and size of rides filtered by the day type

# Requirements
- Language: Python 3.6 or above
- Libraries: pandas

# Project Data
- ridership , calender , stations pickle files  - Stored in the data folder.
- the ridership file is the dataset containing station_id, year, month, day , rides columns only .
- calender file dataset contatining calender of 2019 contains year , month ,day, day_type columns.
- station file dataset containing station_id , station_name, location.
- files loaded from chicago transportation system

In [1]:
# importing packegs
import pandas as pd

In [2]:
# loading files
ridership =pd.read_pickle("cta_ridership.p")
cal = pd.read_pickle("cta_calendar.p")
stations = pd.read_pickle("stations.p")
# printout riderships
ridership.head()

  station_id  year  month  day  rides
0      40010  2019      1    1    576
1      40010  2019      1    2   1457
2      40010  2019      1    3   1543
3      40010  2019      1    4   1621
4      40010  2019      1    5    719

In [3]:
ridership.shape

(3285, 5)

In [4]:
# printout calendar 
cal.head()

   year  month  day        day_type
0  2019      1    1  Sunday/Holiday
1  2019      1    2         Weekday
2  2019      1    3         Weekday
3  2019      1    4         Weekday
4  2019      1    5        Saturday

In [5]:
cal.shape

(365, 4)

In [6]:
# printout stations
stations.head()

  station_id        station_name                 location
0      40010  Austin-Forest Park  (41.870851, -87.776812)
1      40020         Harlem-Lake  (41.886848, -87.803176)
2      40030        Pulaski-Lake  (41.885412, -87.725404)
3      40040        Quincy/Wells   (41.878723, -87.63374)
4      40050               Davis   (42.04771, -87.683543)

In [7]:
stations.shape

(144, 3)

In [8]:
# cleaning data
ridership.isnull().sum()

station_id    0
year          0
month         0
day           0
rides         0
dtype: int64

In [9]:
stations.isnull().sum()

station_id      0
station_name    0
location        0
dtype: int64

In [10]:
cal.isnull().sum()

year        0
month       0
day         0
day_type    0
dtype: int64

In [11]:
ridership.drop_duplicates().shape

(3285, 5)

In [12]:
cal.drop_duplicates().shape

(365, 4)

In [13]:
stations.drop_duplicates().shape

(144, 3)

In [14]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
.merge(stations, on = "station_id")
ridership_cal_stations.head()

,station_id,year,month,day,rides,day_type,station_name,location
0,40010,2019,1,1,576,Sunday/Holiday,Austin-Forest Park,"(41.870851, -87.776812)"
1,40010,2019,1,2,1457,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
2,40010,2019,1,3,1543,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
3,40010,2019,1,4,1621,Weekday,Austin-Forest Park,"(41.870851, -87.776812)"
4,40010,2019,1,5,719,Saturday,Austin-Forest Park,"(41.870851, -87.776812)"

In [15]:
ridership_cal_stations['location']= ridership_cal_stations['location'].str.replace('(', '').str.replace(')','')
ridership_cal_stations.head()

C:\Users\els3d\AppData\Local\Temp/ipykernel_6592/1367126675.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ridership_cal_stations['location']= ridership_cal_stations['location'].str.replace('(', '').str.replace(')','')

,station_id,year,month,day,rides,day_type,station_name,location
0,40010,2019,1,1,576,Sunday/Holiday,Austin-Forest Park,"41.870851, -87.776812"
1,40010,2019,1,2,1457,Weekday,Austin-Forest Park,"41.870851, -87.776812"
2,40010,2019,1,3,1543,Weekday,Austin-Forest Park,"41.870851, -87.776812"
3,40010,2019,1,4,1621,Weekday,Austin-Forest Park,"41.870851, -87.776812"
4,40010,2019,1,5,719,Saturday,Austin-Forest Park,"41.870851, -87.776812"

In [16]:
ridership_cal_stations['latitude'] = ridership_cal_stations['location'].str.rsplit(',', 1).apply(pd.Series)[0]
ridership_cal_stations['longitude'] = ridership_cal_stations['location'].str.rsplit(',', 1).apply(pd.Series)[1]
ridership_cal_stations.head()

,station_id,year,month,day,rides,day_type,station_name,location,latitude,longitude
0,40010,2019,1,1,576,Sunday/Holiday,Austin-Forest Park,"41.870851, -87.776812",41.870851,-87.776812
1,40010,2019,1,2,1457,Weekday,Austin-Forest Park,"41.870851, -87.776812",41.870851,-87.776812
2,40010,2019,1,3,1543,Weekday,Austin-Forest Park,"41.870851, -87.776812",41.870851,-87.776812
3,40010,2019,1,4,1621,Weekday,Austin-Forest Park,"41.870851, -87.776812",41.870851,-87.776812
4,40010,2019,1,5,719,Saturday,Austin-Forest Park,"41.870851, -87.776812",41.870851,-87.776812

In [17]:
ridership_cal_stations.to_csv("ridership_cal_stations.csv")

In [18]:
# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == "Weekday") 
                   & (ridership_cal_stations['station_name'] == "Wilson"))

# Use .loc and the filter to select for rides
total_rides = ridership_cal_stations.loc[filter_criteria, 'rides'].sum()
print("the total rides of chicago in wilson in july in weekdays is {}".format(total_rides))

the total rides of chicago in wilson in july in weekdays is 140005

In [19]:
day_types = ridership_cal_stations['day_type'].unique()
day_types

array(['Sunday/Holiday', 'Weekday', 'Saturday'], dtype=object)

In [20]:
months= ridership_cal_stations['month'].unique()
months

array([ 1,  2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [21]:
stations = ridership_cal_stations['station_name'].unique()
stations

array(['Austin-Forest Park', 'Sheridan', 'Lawrence', '35th/Archer',
       'Wilson', 'Austin-Lake', 'Montrose-Brown', 'Addison-Brown',
       'Lake/State'], dtype=object)

In [ ]:

def get_filters():

    print('Hello! Let\'s explore some of chicago transporation system data!')
    
    while True:
        station = input("Which station of chicago's stations would you like to explore of Austin-Forest, Park Sheridan Lawrence, 35th/Archer,Wilson, Austin-Lake, Montrose-Brown, Addison-Brown, Lake/State? \n").title()
        if station in stations:
            break
        else:
            print('Sorry this station is not in chicago!')

    print('Great! you would like to see {} data. '.format(station))
    print()

    while True:
        month = int(input(
            "Which month would you like to explore(by numbers)? \n"))
        if month in months:
            break
        else:
            print("Sorry this input is not a month(by number)")
    while True:
        day = input(
            "Which type of day ('Sunday/Holiday', 'Weekday', 'Saturday') would you see? "
            "for all just say 'all' ( \n").title()
        if day in day_types:
            break
        elif day == "all":
            break
        else:
            print('Sorry this input is not in choices')
    print('-' * 40)
    return station, month, day
def main():
    while True :
        station, month , day = get_filters()
        filter_criteria = ((ridership_cal_stations['month'] == month) 
                       & (ridership_cal_stations['day_type'] == day) 
                       & (ridership_cal_stations['station_name'] == station))
        # Use .loc and the filter to select for rides
        total_rides = ridership_cal_stations.loc[filter_criteria, 'rides'].sum()
        print("the total rides of chicago in {} in {} of month {} is {}".format(station, day, month,total_rides))
        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() == 'yes':
            main()
        else:
            print('Thank you !')
            break
            
if __name__ == "__main__":
    main()

Hello! Let's explore some of chicago transporation system data!